
    @{
        ViewBag.Title = "Craving";
    }

    <h2>What's Your Craving?</h2>
<form action="success">
    <input type="checkbox" name="sweets" value=2> I am craving sweets<br>
    <input type="submit" value="Submit">
</form>