@{
    ViewBag.Title = "Home Page";
}


<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrapOveride.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <img src="~/Content/images/logo.jpg" />
            <!--<h1>Hungry Hungry Hipsters</h1>
            <p class="lead">Craving something? Tell us what it is and we will tell you what nurtients your body may be needing and even give you some recipies to satisfy that craving.</p>-->
        </div>
    </div>

    <div class="container">
        <h2> Craving something? </h2>
        @using (Html.BeginForm("Selection", "Nutrients"))
        {
            <div class="row">
                <div class="col-md-3">
                    <button type="submit" class="buttonsub" id="sweets" value="2" name="userChoice">Sweets</button>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="buttonsub" id="bread" value="3" name="userChoice">Bread</button>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="buttonsub" id="salty" value="10" name="userChoice">Salty Foods</button>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="buttonsub" id="fatty" value="4" name="userChoice">Fatty Foods</button>
                </div>
            </div>
        }
    </div>
</body>

<script language="C#" runat="server">

</script>