@{
    ViewBag.Title = "Home Page";
}


<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrapOveride.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <img src="~/Content/images/logo.jpg" />
        <!--<h1>Hungry Hungry Hipsters</h1>
        <p class="lead">Craving something? Tell us what it is and we will tell you what nurtients your body may be needing and even give you some recipies to satisfy that craving.</p>-->
        </div>
    </div>

    <div class="container">
        <h2> Craving something? </h2>
            <div class="row">
                <div class="col-md-3">
                    <input type="button" class="buttonsub" id="sweets" value="Sweets" onclick="location.href='@Url.Action("Selection","Nutrients")'" />
                </div>
                <div class="col-md-3">
                    <input type="submit" class="buttonsub" id="bread" value="Bread" onsubmit="return Selection()"/>
                </div>
                <div class="col-md-3">
                    <input type="submit" class="buttonsub" id="salty" value="Salty Food" onsubmit="return Selection()"/>
                </div>
                <div class="col-md-3">
                    <input type="submit" class="buttonsub" id="fatty" value="Fatty Food" onsubmit="return Selection()"/>
                </div>
            </div>
    </div>
</body>

<script language="C#" runat="server">

</script>