@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrapOveride.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron">
        <div class="container">
        <h1>Hungry Hungry Hipsters</h1>
        <p class="lead">Craving something? Tell us what it is and we will tell you what nurtients your body may be needing and even give you some recipies to satisfy that craving.</p>
        </div>
    </div>

    <div class="container">
        <h2>What are you Craving?</h2>
            <div class="row">
                <div class="col-md-3">
                    <input type="submit" class="buttonsub" id="sweets" value="Sweets" onsubmit="return Selection()"/>
                </div>
                <div class="col-md-3">
                    <input type="submit" class="buttonsub" id="bread" value="Bread" onsubmit="return Selection()"/>
                </div>
                <div class="col-md-3">
                    <input type="submit" class="buttonsub" id="salty" value="Salty Food" onsubmit="return Selection()"/>
                </div>
                <div class="col-md-3">
                    <input type="submit" class="buttonsub" id="fatty" value="Fatty Food" onsubmit="return Selection()"/>
                </div>
            </div>
    </div>
</body>
</html>

<script>
    function Selection()
    {
        switch (onsubmit) {
            case $('#sweets'):
                return 2;
            case $('#salty'):
                return 10;
            default:
                return 0;
        }
    }
</script>