@{
    ViewBag.Title = "Results";    
}

<h2>Results</h2>

@for (int i = 0; i < 10; i++)
{
    <tr>
        <td>
            <a href="@Model[i].recipe.url" target=newtab>
                <img src="@Model[i].recipe.image" alt="food" height="200" width="200">
            </a>            
        </td>
        <td>
            @Model[i].recipe.label
            <br />
            <br />
        </td>        
    </tr>
}

<footer>
    
</footer>