@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

@for (int i = 0; i < 5; i++)
{
    <tr>
        <td>
            <a href="@Model[i].recipe.url" target=newtab>
                <img src="@Model[i].recipe.image" alt="food" height="50" width="50">
            </a>
        </td>
        <td>
            @Model[i].recipe.label
        </td>
        <td>
            @foreach(string e in @Model[i].recipe.ingredientLines)
            {
                @e;
                <br />
            }
        </td>
    </tr>
}

<footer>

</footer>