
@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>


<body>
    <p>++ @ViewBag.ApiText</p>




    <footer>
        <p>Powered by <img src="~/Content/Edamam_logo_full_RGB.png" alt="edamam logo" height="20" width="100"></p>
    </footer>
</body>